@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
body {
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
    background-color: #2a333d;
}

h2 {
    padding: 30px 35px;
    margin: -10px -50px;
    text-align: center;
    border-radius: 10px 10px 0 0;
}

hr {
    margin: 10px -50px;
    border: 0;
    border-top: 1px solid #ccc;
    margin-bottom: 40px;
}

.logo {
    display: inline-block;
    width: 200px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    margin-left: 45px;
}

.container {
    width: 405px;
    height: auto;
    margin: 35px auto;
    font-family: "Source Sans Pro", sans-serif;
    background-color: white;
    border-radius: 10px;
}

.main {
    width: 300px;
    padding: 10px 50px 25px;
    border: 2px solid white;
    border-radius: 10px;
    font-family: raleway;
    margin: 50px auto 0;
}

input[type=text],
input[type=password] {
    width: 100%;
    height: 40px;
    padding: 5px;
    margin-bottom: 25px;
    margin-top: 5px;
    border: 2px solid #ccc;
    color: #4f4f4f;
    font-size: 16px;
    border-radius: 5px;
}

label {
    color: #464646;
    text-shadow: 0 1px 0 #fff;
    font-size: 14px;
    font-weight: bold;
}

center {
    font-size: 32px;
}

.nota {
    color: red;
}

.valid {
    color: green;
}

.back {
    text-decoration: none;
    border: 1px solid rgb(0, 143, 255);
    background-color: rgb(0, 214, 255);
    padding: 3px 20px;
    border-radius: 2px;
    color: black;
}

input[type=button] {
    font-size: 16px;
    background: linear-gradient(#2cc197 5%, #2cc195 100%);
    border: 1px solid #2cc194;
    color: #4E4D4B;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    padding: 10px 0;
    outline: none;
}

input[type=button]:hover {
    background: linear-gradient(#1e775b 5%, #00ac75 100%);
}